<%- include("_header") %>

<div class="container">
    <h1>BREAD (Browse, Read, Edit, Add, Delete)</h1>
    <h2>Filters</h2>
    <form>
        <div class="form-group row">
            <label for="inputID" class="col-sm-2 col-form-label"> <input type="checkbox">ID</label>

            <div class="col-sm-10">
                <input type="text" class="form-control" name='id' placeholder="ID">
            </div>
        </div>
        <div class="form-group row">
            <label for="inputString" class="col-sm-2 col-form-label"> <input type="checkbox">String</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name='string' placeholder="String">
            </div>
        </div>
        <div class="form-group row">
            <label for="inputInteger" class="col-sm-2 col-form-label"> <input type="checkbox">Integer</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name='integer' placeholder="Integer">
            </div>
        </div>
        <div class="form-group row">
            <label for="inputFloat" class="col-sm-2 col-form-label"> <input type="checkbox">Float</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name='float' placeholder="Float">
            </div>
        </div>
        <div class="form-group row">
            <label for="inputPassword" class="col-sm-2 col-form-label"> <input type="checkbox">Date</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" placeholder="start date"> to
                <input type="text" class="form-control" name='date' placeholder="end date">
            </div>
        </div>
        <div class="form-group row">
            <label for="inputBoolean" class="col-sm-2 col-form-label"> <input type="checkbox">Boolean</label>
            <div class="col-sm-10">
                <select class="custom-select" name="boolean">
                    <option selected>Choose the Boolean</option>
                    <option value="false">false</option>
                    <option value="true">true</option>
                </select>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>

    <br>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">String</th>
                <th scope="col">Integer</th>
                <th scope="col">Float</th>
                <th scope="col">Date</th>
                <th scope="col">Boolean</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <% for (const data of model) { %>
            <tr>
                <th scope="row"> <%= data.id %> </th>
                <td><%= data.string %></td>
                <td><%= data.integer %></td>
                <td><%= data.float %></td>
                <td><%= data.date %></td>
                <td><%= data.boolean ? true : false %></td>
                <td>
                    <a class="btn btn-success btn-sm" href="/edit/<%= data.id %>" role="button">Edit</a>
                    <a class="btn btn-danger btn-sm" href="/delete/<%= data.id %>" role="button">Delete</a>
                </td>
            </tr>
            <% } %>
        </tbody>
    </table>

    <br>

    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
    </nav>

    <a class="btn btn-primary" href="/add" role="button">Add</a>

</div>
<br>

<%- include("_footer") %>