<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>JSON BREAD</title>
</head>

<body>
    <div class="container">
        <h1>BREAD (Browse, Read, Edit, Add, Delete)</h1>
        <h2>Filters</h2>
        <form>
            <div class="form-group row">
                <label for="inputID" class="col-sm-2 col-form-label"> <input type="checkbox">ID</label>

                <div class="col-sm-10">
                    <input type="text" class="form-control" name='id' placeholder="ID">
                </div>
            </div>
            <div class="form-group row">
                <label for="inputString" class="col-sm-2 col-form-label"> <input type="checkbox">String</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name='string' placeholder="String">
                </div>
            </div>
            <div class="form-group row">
                <label for="inputInteger" class="col-sm-2 col-form-label"> <input type="checkbox">Integer</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name='integer' placeholder="Integer">
                </div>
            </div>
            <div class="form-group row">
                <label for="inputFloat" class="col-sm-2 col-form-label"> <input type="checkbox">Float</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name='float' placeholder="Float">
                </div>
            </div>
            <div class="form-group row">
                <label for="inputPassword" class="col-sm-2 col-form-label"> <input type="checkbox">Date</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" placeholder="start date"> to
                    <input type="text" class="form-control" name='date' placeholder="end date">
                </div>
            </div>
            <div class="form-group row">
                <label for="inputBoolean" class="col-sm-2 col-form-label"> <input type="checkbox">Boolean</label>
                <div class="col-sm-10">
                    <select class="custom-select" name="boolean">
                        <option selected>Choose the Boolean</option>
                        <option value="false">false</option>
                        <option value="true">true</option>
                    </select>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Search</button>
        </form>

        <br>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">String</th>
                    <th scope="col">Integer</th>
                    <th scope="col">Float</th>
                    <th scope="col">Date</th>
                    <th scope="col">Boolean</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                <% for (let i = 0; i < data.length; i++) { %>
                <tr>
                    <th scope="row"><%= i + 1 %></th>
                    <td><%= data[i].string %></td>
                    <td><%= data[i].integer %></td>
                    <td><%= data[i].float %></td>
                    <td><%= data[i].date %></td>
                    <td><%= data[i].boolean %></td>
                    <td>
                        <button type="button" class="btn btn-success btn-sm">Edit</button>
                        <button type="button" class="btn btn-danger btn-sm">Delete</button>
                    </td>
                </tr>
                <% } %>
            </tbody>
        </table>

        <br>

        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
        </nav>
        <form action="/add">
            <button type="submit" class="btn btn-primary">Add</button>
        </form>
    </div>
    <br>
    <br>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>
</body>

</html>